* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    height: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 2px solid black;
}

li {
    padding: 0 10px;
    
}

a {
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
p{
    padding: 15px;
    font-size: 20px;
    text-align: left;
    width: 50%;
    align-items: center;
}
h2 {
    padding: 0 15px;
}
form {
    padding: 0 35px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

#success-message {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.2);
    color: green;
    border: 1px solid rgba(0, 128, 0, 0.5);
    border-radius: 5px;
    width: 30%;
}

#error-message {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.2);
    color: white;
    border: 1px solid rgba(255, 0, 0, 0.5);
    border-radius: 5px;
}
